@model BookingBirthday.Server.Models.PackageModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Booking Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = HttpContextAccessor.HttpContext!.Session;
    var name = session.GetString("name");
    var phone = session.GetString("phone");
    var email = session.GetString("email");
}
@section Scripts {
    @if (Model != null)
    {
        <script>
            $(document).ready(function () {
                $('#LocationAddress').change(function () {
                    var selectedAddress = $(this).find('option:selected').text();
                    $('#LocationAddress').val(selectedAddress);
                });
            });
            $(document).ready(function () {
                $('#ChildNumber').change(function () {
                    var childNumber = parseInt($(this).val());
                    if (childNumber <= 0) {
                        alert('Number of children must be greater than 0.');
                        $(this).val(0); // Reset to 0 if invalid value entered
                    }
                });
            });
            $(document).ready(function () {
                $('#ChildNumber').on('input', function () {
                    var childNumber = parseInt($(this).val());
                    if (childNumber < 0) {
                        childNumber = 0; // Set to 0 if negative value entered
                    }

                    var totalPrice = @Model.Price * childNumber; // Calculate total price
                    var formattedTotalPrice = totalPrice.toLocaleString('vi-VN'); // Format total price
                    $('#Total').val(totalPrice); // Display formatted total in the hidden input

                    // Update the total display
                    $('#totalDisplay').text(formattedTotalPrice + ' đồng');

                    // Show the total display div
                    $('#totalDisplay').show();
                });
            });
            $(document).ready(function () {
                $('#LocationNameSelect').change(function () {
                    var selectedLocationName = $(this).val();
                    $('#LocationAddressSelect').val('');
                    $('#LocationAddressSelect option').hide();
                    $('#LocationAddressSelect option.' + selectedLocationName).show();
                });

                $('#LocationAddressSelect').change(function () {
                    var selectedLocationAddress = $(this).val();
                    // Find the corresponding LocationId based on the selected LocationAddress
                    var selectedLocationId = $('#LocationAddressSelect option[value="' + selectedLocationAddress + '"]').data('locationid');
                    // Update the value of the hidden input field with the selected LocationId
                    $('#LocationId').val(selectedLocationId);
                });
            });
        </script>
    }
}
<style>
    .background-image {
        background-image: url('img/bookingbackground.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
</style>
@await Html.PartialAsync("response")
<div class="background-image">
    <div class="text-center" style="margin-top: 75px">
        <h1 class="display-4" style="color: white; padding-top: 35px;">Điền thông tin đặt tiệc với chúng tôi tại <a href="#">Booking Birthday</a></h1>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="tab-content">
                <div class="row">
                    @if (Model != null)
                    {
                        double total = Model.Price;
                        <div class="col-4 p-5" style="background-color: #b89c74; border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
                            <h1 class="display-5 fw-bold">@Model.Name</h1>
                            <p class="col-md-8 fs-5"><i class="zmdi zmdi-star"></i> Độ tuổi: @Model.Age</p>
                            <p class="col-md-8 fs-5"><i class="zmdi zmdi-star"></i> Giới tính: @Model.Gender</p>
                            <p class="col-md-8 fs-5"><i class="zmdi zmdi-star"></i> Giá: @Convert.ToDouble(Model.Price).ToString("#,##0") đồng/bé</p>
                            <div d-flex justify-content-center>
                                <a href="@("/Package/Show?Id=" + Model.Id)">
                                    <button class="btn btn-primary" style="width: 170px; margin: 0 auto; display: block;" type="submit">
                                        <i class="fa fa-eye"></i> Xem chi tiết
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div class="col-8">
                            @if (Context.Session.GetString("username") != null && Context.Session.GetString("role") != "Admin" && Context.Session.GetString("role") != "Host")
                            {
                                <div class="table-responsive container d-flex justify-content-center px-0">
                                    <div class="row p-4 align-items-center shadow-lg d-flex justify-content-center" style="background-color: white; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
                                        <form asp-action="AddBooking" asp-controller="Booking" method="post">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-title text-orange" style="color:orange; font-size: 20px">
                                                            Thông tin phụ huynh
                                                        </label>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="Name">
                                                                Họ và tên
                                                            </label>
                                                            <input class="form-control"
                                                                   id="Name"
                                                                   name="Name"
                                                                   type="text"
                                                                   value="@name"
                                                                   readonly>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="Phone">
                                                                Số điện thoại
                                                            </label>
                                                            <input class="form-control"
                                                                   id="Phone"
                                                                   name="Phone"
                                                                   type="text"
                                                                   value="@phone"
                                                                   required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="Email">
                                                                Email
                                                            </label>
                                                            <input class="form-control"
                                                                   id="Email"
                                                                   name="Email"
                                                                   type="text"
                                                                   value="@email"
                                                                   required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-title text-orange" style="color:orange; font-size: 20px">
                                                            Thông tin của bé
                                                        </label>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="ChildName">
                                                                Họ và tên
                                                            </label>
                                                            <input class="form-input form-control" type="text" id="ChildName" name="ChildName" placeholder="Họ và tên" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="ChildDateOfBirth">
                                                                Ngày sinh
                                                            </label>
                                                            <input class="form-input form-control" type="date" id="ChildDateOfBirth" name="ChildDateOfBirth" placeholder="Ngày sinh" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="ChildGender">
                                                                Giới tính
                                                            </label>
                                                            <div class="mb-3 d-flex justify-content-start align-items-center gap-3">
                                                                <div class="form-group">
                                                                    <input class="form-check-input" type="radio" name="ChildGender" id="Nam" value="Nam">
                                                                    <label class="form-check-label" for="Nam">
                                                                        Nam
                                                                    </label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="form-check-input" type="radio" name="ChildGender" id="Nữ" value="Nữ" checked="">
                                                                    <label class="form-check-label" for="Nữ">
                                                                        Nữ
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-title text-orange" style="color:orange; font-size: 20px">
                                                            Thông tin đặt tiệc
                                                        </label>
                                                        <input type="hidden" id="LocationName" name="LocationName" value="">
                                                        <input type="hidden" id="LocationAddress" name="LocationAddress" value="">
                                                        <input type="hidden" id="LocationId" name="LocationId" value="">
                                                        <div class="mb-3">
                                                            @if (Model != null && Model.PackageLocations != null && Model.PackageLocations.Any())
                                                            {
                                                                var targetPackageId = Model.Id;
                                                                var distinctLocations = Model.PackageLocations.Where(pl => pl.PackageId == targetPackageId)
                                                                .Select(pl => pl.Location.Name)
                                                                .Distinct()
                                                                .ToList();
                                                                if (distinctLocations.Any())
                                                                {
                                                                    <label class="form-label text-blue" for="LocationName">Địa điểm tổ chức:</label>
                                                                    <select class="form-select-input form-control" id="LocationNameSelect" name="LocationName">
                                                                        <option value="">Please choose</option> <!-- Default option -->
                                                                        @foreach (var locationName in distinctLocations)
                                                                        {
                                                                            <option value="@locationName">@locationName</option>
                                                                        }
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <p>Không có địa điểm tổ chức nào cho gói tiệc này</p>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <p>Thông tin gói tiệc không tồn tại</p>
                                                            }
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="LocationAddress">Địa chỉ tổ chức:</label>
                                                            <select class="form-select-input form-control" id="LocationAddressSelect" name="LocationAddress">
                                                                <option value="">Please choose</option> <!-- Default option -->
                                                                @if (Model.PackageLocations != null && Model.PackageLocations.Count > 0)
                                                                {
                                                                    foreach (var packageLocation in Model.PackageLocations)
                                                                    {
                                                                        if (packageLocation.Location != null)
                                                                        {
                                                                            <option class="LocationAddressOption @packageLocation.Location.Name" value="@packageLocation.Location.Address" data-locationid="@packageLocation.Location.Id">@packageLocation.Location.Address</option>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <option disabled>No locations available</option>
                                                                }
                                                            </select>

                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label text-blue">
                                                                Thời gian tổ chức
                                                            </label>
                                                            <input style="width: auto;" class="form-input form-control" type="datetime-local" id="Date_start" name="Date_start" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="ChildNumber">
                                                                Số lượng bé tham dự
                                                            </label>
                                                            <input class="form-input form-control" type="number" id="ChildNumber" name="ChildNumber" min="0" value="0">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="Note">
                                                                Ghi chú
                                                            </label>
                                                            <input class="form-input form-control" type="text" id="Note" name="Note" placeholder="Ghi chú" value="">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label text-blue" for="Total">
                                                                Tổng tiền: <span id="totalDisplay" style="color: red"></span>
                                                            </label>
                                                            <input type="hidden" id="Total" name="Total" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-primary" style="width: 110px; margin-top: 10px;" type="submit">
                                                        Gửi ngay
                                                    </button>
                                                </div>
                                            </div>
                                            <input type="hidden" id="PackageId" name="PackageId" value="@Model.Id">
                                        </form>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <a href="/Account/Login" class="btn btn-success">Đăng nhập để thanh toán</a>
                                <a href="/" class="btn btn-success">Tiếp tục mua hàng</a>
                            }
                        </div>
                    }
                    else
                    {
                        <p class="alert alert-danger">Hãy chọn một gói tiệc</p>
                        <a href="/" class="btn btn-success">Quay về</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
