@model List<TGClothes.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var subtotal = ViewBag.SubTotal;
    var promotion = ViewBag.Promotion;
}

@section jsFooter {
    <script src="/Assets/Client/js/controller/cartController.js"></script>
}

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Trang chủ
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Giỏ hàng
        </span>
    </div>
</div>


<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            @if (Model.Count > 0)
            {
                <h4 class="text-danger">@Html.Raw(TempData["msg"])</h4>
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Sản phẩm</th>
                                    <th class="column-2"></th>
                                    <th class="column-3 text-center">Giá</th>
                                    <th class="column-4 text-center">Số lượng</th>
                                    <th class="column-5 text-center">Tổng tiền</th>
                                    <th class="column-6"></th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="@item.Product.Image" alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2">
                                            <div>@item.Product.Name</div>
                                            <div>Size: @item.Size.Name</div>
                                        </td>
                                        <td class="column-3 text-center">
                                            @if (item.Product.Promotion == 0 || item.Product.Promotion == null)
                                            {
                                                <span class="stext-105 cl3">
                                                    @item.Product.Price.Value.ToString("N0")
                                                </span>
                                            }
                                            else
                                            {
                                                <div>
                                                    <span class="stext-105 cl3 text-decoration-line-through">
                                                        @item.Product.Price.Value.ToString("N0")
                                                    </span>
                                                    <span class="stext-105 cl3 text-danger">
                                                        @item.Product.PromotionPrice.Value.ToString("N0")
                                                    </span>
                                                </div>
                                            }
                                        </td>
                                        <td class="column-4 text-center">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product txtQuantity" type="number" data-product-id="@item.Product.Id" data-size-id="@item.Size.Id" value="@item.Quantity">

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="column-5 text-center">
                                            @if (item.Product.Promotion == 0 || item.Product.Promotion == null)
                                            {
                                                <span class="stext-105 cl3">
                                                    @((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))
                                                </span>
                                            }
                                            else
                                            {
                                                <div>
                                                    <span class="stext-105 cl3">
                                                        @((item.Product.PromotionPrice.GetValueOrDefault(0) * item.Quantity).ToString("N0"))
                                                    </span>
                                                </div>
                                            }
                                        </td>
                                        <td class="column-6 text-center"><a href="#" class="btn-delete" data-product-id="@item.Product.Id" data-size-id="@item.Size.Id" style="color: #555;"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                }
                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <div id="btnContinue" class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                    Tiếp tục mua hàng
                                </div>
                            </div>

                            <div id="btnDeleteAll" class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Xóa giỏ hàng
                            </div>

                            <div id="btnUpdate" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                Cập nhật giỏ hàng
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Thông tin giỏ hàng
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-209">
                                <span class="stext-110 cl2">
                                    Giá trị đơn hàng:
                                </span>
                            </div>

                            <div class="size-208 text-right">
                                <span class="mtext-110 cl2">
                                    @(subtotal.ToString("N0"))
                                </span>
                            </div>
                        </div>

                        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
                            <div class="size-209">
                                <span class="stext-110 cl2">
                                    Giảm giá:
                                </span>
                            </div>

                            <div class="size-208 text-right">
                                <span class="mtext-110 cl2 text-danger">
                                    -@(promotion.ToString("N0"))
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="stext-110 cl2">
                                    Phí giao hàng:
                                </span>
                            </div>

                            <div class="size-208 text-right">
                                @if (subtotal > 1000000)
                                {
                                    <span class="stext-112 cl2">
                                        Miễn phí
                                    </span>
                                }
                                else
                                {
                                    <span class="mtext-110 cl2 text-danger">
                                        @(21000.ToString("N0"))
                                    </span>
                                }
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-209">
                                <span class="mtext-101 cl2">
                                    Tổng:
                                </span>
                            </div>

                            <div class="size-208 p-t-1 text-right">
                                @if (subtotal > 1000000)
                                {
                                    <span class="mtext-110 cl2">
                                        @((subtotal - promotion).ToString("N0"))
                                    </span>
                                }
                                else
                                {
                                    <span class="mtext-110 cl2">
                                        @((subtotal - promotion + 21000).ToString("N0"))
                                    </span>
                                }
                            </div>
                        </div>

                        <div id="btnPayment" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Đến trang thanh toán
                        </div>
                    </div>
                </div>
            }
            else
            {
                <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
            }
        </div>
    </div>
</form>