@model X.PagedList.IPagedList<BookingBirthday.Data.Entities.Category_requests>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "QL_YeuCau Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("response")
<style>
    .background-image {
        background-image: url('img/bookingbackground.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
</style>
<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Khiếu nại</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <a class="btn btn-primary" onclick="openAdd()">Thêm mới</a>
                    @if (Model.Count > 0)
                    {
                        int stt = 1;
                        <div class="col-md-4">
                            <select id="selectReport" class="form-control" onchange="changeSelectReport('GuestReport')">
                                <option value="2">Tất cả</option>
                                <option value="0">Chờ duyệt</option>
                                <option value="1">Đã duyệt</option>
                                <option value="-1">Từ chối</option>
                            </select>
                        </div>
                        <div class="table-responsive card mt-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Khiếu nại</th>
                                        <th>Người bị khiếu nại</th>
                                        <th>Mail của người bị khiếu nại</th>
                                        <th>Ngày khiếu nại</th>
                                        <th>Ghi chú của quản trị viên</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="bodyRequest">
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@(stt++)</td>
                                            <td>
                                                <label style="width: auto">@item.report</label>
                                            </td>
                                            <td>
                                                <label style="width: auto">@item.host_name</label>
                                            </td>
                                            <td>
                                                <label style="width: auto">@item.mail</label>
                                            </td>
                                            <td>
                                                <label style="width: auto">@item.created_at</label>
                                            </td>
                                            <td>
                                                <label style="width: auto">@item.rejection_reason</label>
                                            </td>
                                            <td>
                                                @if (item.is_approved == -1)
                                                {
                                                    <label style="width: auto">Khiếu nại bị từ chối</label>
                                                }
                                                else if (item.is_approved == 1)
                                                {
                                                    <label style="width: auto">Khiếu nại được duyệt</label>
                                                }
                                                else
                                                {
                                                    <label style="width: auto">Khiếu nại chờ duyệt</label>
                                                }
                                            </td>
                                            <td>
                                                @if (item.is_approved == 0)
                                                {
                                                    <a class="btn btn-primary" onclick="xoaReport(@item.category_request_id)">Xóa</a>
                                                    <a class="btn btn-success" onclick="openUpdate(@item.category_request_id)">Sửa</a>
                                                }

                                                <!-- Modal -->
                                                <div class="modal fade" id="@("update"+item.category_request_id)" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <form method="post" asp-action="Edit" asp-controller="GuestReport">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="productModalLabel">Chỉnh sửa khiếu nại</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <label>Khiếu nại</label>
                                                                        <input type="hidden" value="@item.category_request_id" name="category_request_id" />
                                                                        <input type="text" class="form-control" name="report" value="@item.report" required placeholder="Nhập nội dung" />
                                                                        <label>Mail của chủ tiệc cần khiếu nại</label>
                                                                        <p class="form-control">@item.mail</p>
                                                                        <input type="hidden" class="form-control" name="mail" value="@item.mail" required placeholder="Nhập mail" />
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" onclick="closeUpdate(@item.category_request_id)" class="btn btn-secondary">Đóng</button>
                                                                    <button type="submit" class="btn btn-success">Sửa</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination">
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="pagination-item">
                                    <a href="@Url.Action("Index", new { page = i })" class="pagination-item_link">@i</a>
                                </li>
                            }
                        </ul>

                    }
                    else
                    {
                        <p class="alert alert-danger">Danh sách khiếu nại trống</p>

                        <button class="close">
 
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-action="Create" asp-controller="GuestReport" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Khiếu nại chủ tiệc</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Khiếu nại</label>
                        <input type="text" class="form-control" name="report" required placeholder="Nhập nội dung">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mail của chủ tiệc cần Khiếu nại</label>
                        <input type="text" class="form-control" name="mail" required placeholder="Nhập mail của chủ tiệc cần khiếu nại">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="closeAdd()" class="btn btn-secondary">Đóng</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>