@model IEnumerable<Data.EF.Category>

@{
    ViewBag.Title = "Danh mục tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {
    Danh sách danh mục tin tức
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách danh mục sản phẩm</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "Category", FormMethod.Get))
        {
            <div class="row form-group">
                <div class="col-lg-12 row">
                    <div class="col-md-4">
                        <a href="/Admin/Category/Create" class="btn btn-primary">Thêm mới</a>
                    </div>
                </div>
            </div>
        }
        <div class="table-responsive" style="overflow-x: hidden;">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Thứ tự</th>
                                    <th>Tên</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày cập nhật</th>
                                    <th>Trạng thái</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var checkStatus = "";
                                    if (item.Status)
                                    { checkStatus = "text-success"; }

                                    else
                                    {
                                        checkStatus = "text-danger";
                                    }
                                    <tr id="row_@item.Id">
                                        <td>@item.DisplayOrder</td>
                                        <td>@item.Name</td>
                                        <td>@item.CreatedDate</td>
                                        <td>@item.ModifiedDate</td>
                                        <td><a href="#" class="btn-active @checkStatus" data-id="@item.Id">@(item.Status ? "Kích hoạt" : "Khóa")</a></td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Category", new { id = item.Id })" class="btn text-primary f2"><i class="fas fa-edit"></i></a>
                                            @Ajax.ActionLink(" ", "Delete", new { @id = item.Id }, new AjaxOptions
                                           {
                                               Confirm = "Bạn có muốn xóa bản ghi này?",
                                               OnComplete = "$('#row_" + @item.Id + "').remove()",
                                               HttpMethod = "Delete"
                                           }, new { @class = "btn text-primary f1 myActionLink" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomJs {
    <script src="/Assets/Admin/js/controller/categoryController.js"></script>
}