@model BookingBirthday.Server.Models.RegisterModel
@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("response")

<<<<<<< Updated upstream
<div class="login-container" style="margin-top: 150px;">
    <div class="card" style="width: 300px;">
        <div class="card-body">
            <h2 class="text-center">Đăng ký</h2>
            <form method="post" asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Tên người dùng</label>
                    <input type="text" class="form-control" id="Name" name="Name" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="Username" name="Username" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" id="Password" name="Password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Xác nhận mật khẩu</label>
                    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" id="Email" name="Email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Số điện thoại</label>
                    <input type="tel" class="form-control" id="Phone" name="Phone" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" id="Address" name="Address" required>
                </div>
                <div class="form-group">
                    <label>Ảnh đại diện</label>
                    <input class="form-control" name="file" type="file" />
                </div>
                <button type="submit" class="btn btn-primary">Đăng ký</button>
            </form>
            <p class="text-center">Đã có tài khoản? <a href="/Account/Login">Đăng nhập</a></p>
=======
@if (Model != null)
{
    <div class="login-container" style="margin-top: 150px;">
        <div class="card" style="width: 300px;">
            <div class="card-body">
                <h2 class="text-center">Đăng ký</h2>
                <form method="post" asp-action="Register" asp-controller="Account" enctype="multipart/form-data" style="margin-top: 20px;">
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Tên người dùng</label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Mật khẩu</label>
                        <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Số điện thoại</label>
                        <input type="tel" class="form-control" id="Phone" name="Phone" value="@Model.Phone" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Địa chỉ</label>
                        <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" required>
                    </div>
                    <div class="form-group">
                        <label style="
                           margin-left: 0px;">Ảnh đại diện</label>
                        <input class="form-control" style="
                           margin-left: 0px; name="file" type="file" />
                    </div>
                    <button type="submit" class="btn btn-primary" style="
                        margin-top: 20px; margin-left: 100px;">
                        Đăng ký
                    </button>
                </form>
                <p class="text-center" style="
               margin-top: 20px;">Đã có tài khoản? <a href="/Account/Login">Đăng nhập</a></p>
            </div>
>>>>>>> Stashed changes
        </div>
    </div>
}
else
{
    <div class="login-container" style="margin-top: 150px;">
        <div class="card" style="width: 300px;">
            <div class="card-body">
                <h2 class="text-center">Đăng ký</h2>
                <form method="post" asp-action="Register" asp-controller="Account" enctype="multipart/form-data" style="margin-top: 20px;">
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Tên người dùng</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="Username" name="Username"  required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Mật khẩu</label>
                        <input type="password" class="form-control" id="Password" name="Password"  required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Số điện thoại</label>
                        <input type="tel" class="form-control" id="Phone" name="Phone" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" style="
                           margin-left: 0px;">Địa chỉ</label>
                        <input type="text" class="form-control" id="Address" name="Address" required>
                    </div>
                    <div class="form-group">
                        <label style="
                           margin-left: 0px;">Ảnh đại diện</label>
                        <input class="form-control" style="
                           margin-left: 0px; name="file" type="file" />
                    </div>
                    <button type="submit" class="btn btn-primary" style="
                        margin-top: 20px; margin-left: 100px;">
                        Đăng ký
                    </button>
                </form>
                <p class="text-center" style="
               margin-top: 20px;">Đã có tài khoản? <a href="/Account/Login">Đăng nhập</a></p>
            </div>
        </div>
    </div>
}

