@model List<BookingBirthday.Server.Models.CartModel>

@{
    ViewData["Title"] = "Cart Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("response")

<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Giỏ hàng</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @if (Model.Count > 0) {
                      double total = 0;
                      int stt = 1;
                        var Venue= "";
                        <div class="table-responsive card mt-2">
                          <table class="table table-hover">
                            <tr>
                              <th>#</th>
                              <th>Bữa tiệc</th>
                              <th>Giá</th>
                              <th>Địa chỉ</th>
                              <th>Thành tiền</th>
                              <th></th>
                            </tr>
                            <!-- Print Package Start -->
                            @foreach (var cartitem in Model)
                            {
                                var thanhtien =  cartitem.Package!.Price;
                                    total += thanhtien;
                                     @* Venue = cartitem.Package.Venue; *@
                                    <tr>
                                   <td>@(stt++)</td>
                                   <td>
                                       <label style="width: auto">@cartitem.Package.Name</label>
                                   </td>
                                   <td>
                                       <label style="width: auto">@Convert.ToDouble(cartitem.Package.Price).ToString("#,##0") đồng</label>
                                   </td>
                                   @* <td>
                                       <label style="width: auto">
                                           <input asp-for="@cartitem.Quantity" id="@($"quantity-{cartitem.Package.Id}")" type="number" min="1"/>
                                       </label>
                                   </td> *@
                                        <td>
                                            @* <label style="width: auto">@cartitem.Package.Venue</label> *@
                                        </td>
                                   <td>
                                       <label style="width: auto">@Convert.ToDouble(thanhtien).ToString("#,##0") đồng</label>
                                   </td>
                                   <td>
                                      <label style="width: auto">
                                          @* <button class="btn btn-success updatecartitem" 
                                            data-productid="@cartitem.Package.Id">Cập nhật</button> *@
                                          <a asp-route="removecart" asp-route-productid="@cartitem.Package.Id"
                                            class="btn btn-danger">Xóa</a>
                                      </label>
                                   </td>
                                </tr>
                            }
                            <!-- Print Package End -->

                              <tr>
                                  <td colspan="5" style="text-align: right">Tổng tiền</td>
                                  <td>@Convert.ToDouble(total).ToString("#,##0") đồng</td>
                                  <td></td>
                              </tr>
                          </table>
                      </div>
                        @if (Context.Session.GetString("username") != null && Context.Session.GetString("role") != "Admin" && Context.Session.GetString("role") != "Host")
                        {
                            
                                <form asp-action="AddOrder" asp-controller="Cart" method="post">
                                    <div class="col-md-4">
                                    <input type="hidden" name="Address" value="@Venue" />
                                        <input type="hidden" name="Total" value="@total" />
                                        <div class="mb-3">
                                            <label class="form-label">Họ tên</label>
                                            <input type="text" class="form-control" name="Name" required placeholder="Tên khách hàng" value="@Context.Session.GetString("name")" />
                                        </div>

                                        <div class="mb-3">
                                            <m class="form-label">Số điện thoại</m>
                                            <input type="tel" class="form-control" name="Phone" required placeholder="Số điện thoại" value="@Context.Session.GetString("phone")" />
                                        </div>


                                        <div class="mb-3">
                                            <label class="form-label">Email</label>
                                            <input type="email" class="form-control" name="Email" required placeholder="Email" value="@Context.Session.GetString("email")" />
                                        </div>


                                    <div class="mb-3">
                                        <label class="form-label">Thời gian tiệc diễn ra</label>
                                        <input type="text" class="form-control" name="Date_start" required placeholder="thời gian + dd/MM//yyyy" value="" />
                                    </div>
                                        
                                        <div class="mb-3">
                                            <label class="form-label">Ghi chú</label>
                                            <input type="text" class="form-control" name="Note" placeholder="Ghi chú" value="" />
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success">Thanh toán cọc</button>
                                    <a href="/" class="btn btn-success">Tiếp tục mua hàng</a>
                                </form>
                            
                        }
                        else
                        {
                            <a href="/Account/Login" class="btn btn-success">Đăng nhập để thanh toán</a>
                            <a href="/" class="btn btn-success">Tiếp tục mua hàng</a>
                        }


                          @section Scripts {
                            <script>
                              $(document).ready(function () {
                                  $(".updatecartitem").click(function (event) {
                                      event.preventDefault();
                                      var productid = $(this).attr("data-productid");
                                      $.ajax({
                                          type: "POST",
                                          url:"@Url.RouteUrl("updatecart")",
                                          data: {
                                              productid: productid,
                                          },
                                          success: function (result) {
                                              window.location.href = "@Url.RouteUrl("cart")";
                                          }
                                      });
                                  });
                              });
                            </script>
                          }

                    }
                    else {
                      <p class="alert alert-danger">Giỏ hàng trống</p>
                      <a href="/" class="btn btn-success">Tiếp tục mua hàng</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>