@model X.PagedList.IPagedList<BookingBirthday.Server.Models.PackageModel>
@using BookingBirthday.Data.Entities
@using Newtonsoft.Json
@using System.Text.Json
@using System.Text.Json.Serialization
@using X.PagedList.Mvc.Core
@inject IHttpContextAccessor HttpContextAccessor
@inject BookingBirthday.Data.EF.BookingDbContext _dbContext
@{
    ViewData["Title"] = "QL_SanPham Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = HttpContextAccessor.HttpContext!.Session;
    int userid = int.Parse(session.GetString("user_id"));
}
@await Html.PartialAsync("response")
@section Scripts {
    <script>
        var productDescriptions = document.querySelectorAll(".Detail");
        for (var i = 0; i < productDescriptions.length; i++) {
            var productDescription = productDescriptions[i];
            if (productDescription.textContent.length > 750) {
                productDescription.textContent = productDescription.textContent.slice(0, 750) + "...";
            }
        }

    </script>
}
<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Quản lí bữa tiệc</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <a class="btn btn-primary" onclick="openAdd()">Thêm mới</a>
                    @if (Model.Count > 0)
                    {
                        int stt = 1;

                        <div class="table-responsive card mt-2">
                            <table class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>Tên bữa tiệc</th>
                                    <th>Mô tả</th>
                                    <th>Chú ý</th>
                                    <th>Hình ảnh</th>
                                    <th>Giá</th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@(stt++)</td>
                                        <td>
                                            <label style="width: auto">@item.Name</label>
                                        </td>

                                        <td>
                                            <label style="width: auto">
                                                <span class="Detail">@Html.Raw(item.Detail)</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.Note</label>
                                        </td>
                                        <td>
                                            <img style="width: 30%" src="@item.image_url" />
                                        </td>
                                        <td>
                                            <label style="width: auto">@Convert.ToDouble(item.Price).ToString("#,##0") đồng</label>
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" onclick="xoaProduct(@item.Id)">Xóa</a>
                                            <a class="btn btn-success" onclick="openUpdate(@item.Id)">Sửa</a>

                                            <!-- Modal -->
                                            <div class="modal fade" id="@("update"+item.Id)" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <form method="post" asp-action="Edit" asp-controller="HostPackage" enctype="multipart/form-data">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="productModalLabel">Chỉnh sửa gói tiệc</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="form-group">
                                                                    <label>Tên bữa tiệc</label>
                                                                    <input type="hidden" value="@item.Id" name="Id" />
                                                                    <input type="text" class="form-control" name="Name" value="@item.Name" readonly>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label>Giá</label>
                                                                    <input class="form-control" name="Price" value="@item.Price" placeholder="Nhập giá gói/người" required />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Mô tả</label>
                                                                    <input class="form-control" name="Detail" value="@item.Detail" placeholder="Nhập mô tả" required />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Độ tuổi</label>
                                                                    <select name="Age" class="form-control">
                                                                        <option value="0 - 5" selected="@(item.Age == "0 - 5")">0 - 5</option>
                                                                        <option value="6 - 10" selected="@(item.Age == "6 - 10")">6 - 10</option>
                                                                        <option value="11 - 14" selected="@(item.Age == "11 - 14")">11 - 14</option>
                                                                        <option value="15 - 17" selected="@(item.Age == "15 - 17")">15 - 17</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Chủ đề</label>
                                                                    @{
                                                                        var themeA = _dbContext.Themes.Where(x => x.UserId == userid).ToList();
                                                                    }
                                                                    <select name="ThemeId" class="form-control">
                                                                        @foreach (var items in themeA)
                                                                        {
                                                                            <option value="@items.Id" selected="@(items.Id == item.ThemeId)">@items.Name</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <label>Thể loại</label>
                                                                    <select name="PackageType" class="form-control">
                                                                        <option value="Cơ bản" selected="@(item.PackageType == "Cơ bản")">Cơ bản</option>
                                                                        <option value="Cao cấp" selected="@(item.PackageType == "Cao cấp")">Cao cấp</option>
                                                                        <option value="Đặc biệt" selected="@(item.PackageType == "Đặc biệt")">Đặc biệt</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Giới tính phù hợp</label>
                                                                    <select name="Gender" class="form-control">
                                                                        <option value="Nam" selected="@(item.Gender == "Cơ bản")">Nam</option>
                                                                        <option value="Nữ">Nữ</option>
                                                                        <option value="Name & Nữ">Name & Nữ</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <select id="selectArea">
                                                                        @* <option value="">Chọn khu vực</option> *@
                                                                        @{
                                                                            var areas = _dbContext.Areas.ToList();
                                                                            var findpackageloction = _dbContext.PackageLocations.Where(x => x.PackageId == item.Id).ToList();
                                                                            List<Location> locations = new List<Location>();
                                                                            foreach (var x in findpackageloction)
                                                                            {
                                                                                var check = _dbContext.Locations.FirstOrDefault(y => y.Id == x.LocationId);
                                                                                if (check != null)
                                                                                {
                                                                                    locations.Add(check);
                                                                                }
                                                                            }
                                                                            var findlocation = locations.DistinctBy(x=>x.Name);
                                                                            var findarea = _dbContext.Areas.FirstOrDefault(x => x.Id == locations[0].AreaId);
                                                                          
                                                                        }
                                                                        @foreach (var a in areas)
                                                                        {
                                                                            <option value="@a.Id" selected="@(a.Id == findarea.Id)">@a.Name</option>

                                                                        }
                                                                    </select>

                                                                    <div id="checkboxLocation" style="display: block;">
                                                                        <label for="selectLocation">Chọn địa điểm:</label>
                                                                        <br>
                                                                        <div id="locationOptions">
                                                                            <!-- Các checkbox cho Location sẽ được thêm vào đây -->
                                                                            @foreach (var list in findlocation)
                                                                            {
                                                                                <input type="checkbox" id="@("checkbox_" + list.Id)" name="selectedAddresses" value="@list.Name" checked />
                                                                                <label for="@("checkbox_" + list.Id)">@list.Name</label>
                                                                            }
                                                                        </div>
                                                                    </div>

                                                                    <!-- Checkbox Group - Hiển thị các Address của Location -->
                                                                    <div id="checkboxAddress" style="display: block;">
                                                                        <label for="selectedAddresses">Chọn địa chỉ:</label>
                                                                        <br>
                                                                        <div id="addressOptions">
                                                                            <!-- Các checkbox cho địa chỉ sẽ được thêm vào đây -->
                                                                            @foreach (var list in locations)
                                                                            {
                                                                                <input type="checkbox" id="@("checkbox_" + list.Id)" name="selectedAddresses" value="@list.Address" checked />
                                                                                <label for="@("checkbox_" + list.Id)">@list.Address</label>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Chú ý</label>
                                                                    <input type="text" class="form-control" name="Note" value="@item.Note" required placeholder="Nhập chú ý">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label>Hình ảnh</label>
                                                                    <input class="form-control" name="file" type="file" required />
                                                                </div>
                                                            
                                                            <div class="modal-footer">
                                                                <button type="button" onclick="closeUpdate(@item.Id)" class="btn btn-secondary">Đóng</button>
                                                                <button type="submit" class="btn btn-success">Sửa</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        @* <ul class="pagination">
                    @for (int i = 1; i <= Model.Packages.PageCount; i++)
                    {
                    <li class="pagination-item">
                    <a href="@Url.Action("Index", new { page = i })" class="pagination-item_link">@i</a>
                    </li>
                    }
                    </ul> *@

                    }
                    else
                    {
                        <p class="alert alert-danger">Danh sách bữa tiệc trống</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-action="Create" asp-controller="HostPackage" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Thêm mới gói tiệc</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên gói tiệc</label>
                        <input type="number" min="0" class="form-control" required placeholder="Tên gói tiệc được in từ loại gói, chủ đề và khu vực " readonly />
                    </div>
                    <div class="form-group">
                        <label>Giá</label>
                        <input class="form-control" name="Price" placeholder="Nhập giá gói/người" required />
                    </div>
                    <div class="form-group">
                        <label>Mô tả</label>
                        <textarea class="form-control" name="Detail" placeholder="Nhập mô tả" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Độ tuổi</label>
                        <select name="Age" class="form-control">
                            <option value="0 - 5">0 - 5</option>
                            <option value="6 - 10">6 - 10</option>
                            <option value="11 - 14">11 - 14</option>
                            <option value="15 - 17">15 - 17</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Chủ đề</label>
                        @{
                            var theme = _dbContext.Themes.ToList();
                        }
                        <select name="ThemeId" class="form-control">
                            @foreach (var item in theme)
                            {
                                <option value="@item.Id" selected="@(item.Name)">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Thể loại</label>
                        <select name="PackageType" class="form-control">
                            <option value="Cơ bản">Cơ bản</option>
                            <option value="Cao cấp">Cao cấp</option>
                            <option value="Đặc biệt">Đặc biệt</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Giới tính phù hợp</label>
                        <select name="Gender" class="form-control">
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Nam & Nữ">Nam & Nữ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <!-- Dropdown 1 - Hiển thị các Area -->
                        <select id="selectAreaCreate">
                            <option value="">Chọn khu vực</option>
                            @foreach (var area in _dbContext.Areas.ToList())
                            {
                                <option value="@area.Id">@area.Name</option>
                            }
                        </select>

                        <!-- Checkbox 2 - Hiển thị các Location -->
                        <div id="checkboxLocationCreate" style="display: none;">
                            <label for="selectLocationCreate">Chọn địa điểm:</label>
                            <br>
                            <div id="locationOptionsCreate">
                                <!-- Các checkbox cho Location sẽ được thêm vào đây -->
                            </div>
                        </div>

                        <!-- Checkbox Group - Hiển thị các Address của Location -->
                        <div id="checkboxAddressCreate" style="display: none;">
                            <label for="selectedAddresses">Chọn địa chỉ:</label>
                            <br>
                            <div id="addressOptionsCreate">
                                <!-- Các checkbox cho địa chỉ sẽ được thêm vào đây -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Chú ý</label>
                        <textarea class="form-control" name="Note" placeholder="Nhập chú ý" required></textarea>
                    </div>

                    <div class="form-group">
                        <label>Hình ảnh</label>
                        <input id="fileInput" class="form-control" name="file" type="file" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="closeAdd()" class="btn btn-secondary">Đóng</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>



