@model X.PagedList.IPagedList<BookingBirthday.Server.Models.PackageModel>
@using X.PagedList.Mvc.Core
@inject BookingBirthday.Data.EF.BookingDbContext _dbContext
@{
    ViewData["Title"] = "QL_SanPham Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Function to convert string to unordered list *@
@functions {
    string ConvertToUnorderedList(string detail)
    {
        if (string.IsNullOrEmpty(detail))
            return string.Empty;

        var items = detail.Split('.').Where(item => !string.IsNullOrWhiteSpace(item)).Select(item => item.Trim());
        if (!items.Any())
            return string.Empty;

        var ulHtml = "<ul>";
        foreach (var item in items)
        {
            ulHtml += $"<li>{item}</li>";
        }
        ulHtml += "</ul>";
        return ulHtml;
    }
}
@await Html.PartialAsync("response")
@section Scripts {
    <script>
        var productDescriptions = document.querySelectorAll(".Detail");
        for (var i = 0; i < productDescriptions.length; i++) {
            var productDescription = productDescriptions[i];
            if (productDescription.textContent.length > 750) {
                productDescription.textContent = productDescription.textContent.slice(0, 750) + "...";
            }
        }
    </script>
}
<style>
    th {
        border: 1px solid #ddd;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
    td {
        border: 1px solid #ddd;
    }
</style>
<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Quản lí bữa tiệc</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @if (Model.Count > 0)
                    {
                        int stt = 1;

                        <div class="table-responsive card mt-2 px-0">
                            <table class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>Hình ảnh</th>
                                    <th>Tên bữa tiệc</th>
                                    <th>Tên chủ tiệc</th>
                                    <th>Địa điểm/địa chỉ tổ chức</th>
                                    <th>Giá (đồng/bé)</th>
                                    <th>Độ tuổi</th>
                                    <th>Giới tính</th>
                                    <th>Mô tả</th>
                                    <th>Lưu ý</th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="border: 1px solid #ddd;">
                                            @foreach (var booking in _dbContext.Bookings)
                                            {
                                                if (booking.Id == item.Id)
                                                {
                                                    <label style="width: auto">
                                                        <a href="@("/Package/Show?Id="+ booking.PackageId)">@(stt++)</a>
                                                    </label>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a href="#" onclick="showImage('@item.image_url')">
                                                <i class="fa fa-eye text-primary me-2"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.Name</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.Host_name</label>
                                        </td>
                                        <td>
                                            @{
                                                if (item.Locations != null && item.Locations.Any())
                                                {
                                                    <ul>
                                                        @foreach (var location in item.Locations)
                                                        {
                                                            <li>@location.Name: @location.Address</li>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <span>Địa điểm tổ chức không tồn tại</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <label style="width: auto">@Convert.ToDouble(item.Price).ToString("#,##0")</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.Age</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.Gender</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@Html.Raw(ConvertToUnorderedList(item.Detail))</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@Html.Raw(ConvertToUnorderedList(item.Note))</label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <ul class="pagination">
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="pagination-item">
                                    <a href="@Url.Action("Index", new { page = i })" class="pagination-item_link">@i</a>
                                </li>
                            }
                        </ul>

                    }
                    else
                    {
                        <p class="alert alert-danger" style="position: relative;">Danh sách bữa tiệc trống</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="guestInformationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="guestInformationModalLabel">Hình ảnh chi tiết</h5>
            </div>
            <div class="modal-body">
                <img id="guestImage" src="" style="width: 300px; height: 300px;" alt="Guest Image">
            </div>
            @* <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal">Đóng</button>
            </div> *@
        </div>
    </div>
</div>

<script>
    function showImage(imageUrl) {
        // Set the image source
        $('#guestImage').attr('src', imageUrl);
        // Show the modal
        $('#orderModal').modal('show');
    }
</script>
