@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@inject BookingBirthday.Data.EF.BookingDbContext _dbContext
@{
    ViewData["Title"] = "Detail Product Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = HttpContextAccessor.HttpContext!.Session;
    var role = session.GetString("role");
    int user;
    var userIdSession = session.GetString("user_id");
    if (userIdSession == null)
    {
        user = 0;
    }
    else
    {
        user = int.Parse(userIdSession);
    }
}
<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Chi tiết bữa tiệc</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="@Model.image_url" alt="@Model.Name" class="img-fluid">
                            </div>
                            <div class="col-md-6 p-4 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                                <h3>@Model.Name</h3>
                                <label style="width: auto">
                                    <a href="@("/Package/ProfileHost?UserId="+ Model.UserId)">Tên chủ tiệc: @Model.Host_name</a>
                                </label>
                                <p style="margin-top: 1rem;">Giá: @Convert.ToDouble(Model.Price).ToString("#,##0") đồng/bé</p>
                                <p>Độ tuổi: @Model.Age</p>
                                <p>Giới tính: @Model.Gender</p>
                                <div style="margin-bottom: 1rem;">
                                    <label style="margin-bottom: 1rem;">Địa điểm tổ chức: </label>
                                    <select class="form-control" style="width: auto;" id="locationNameDropdown" onchange="populateAddressDropdown()">
                                        @foreach (var locationName in Model.LocationNames)
                                        {
                                            <option>@locationName</option>
                                        }
                                    </select>
                                    @{
                                        var locationData = new Dictionary<string, List<string>>();
                                        foreach (var locationName in Model.LocationNames)
                                        {
                                            var addresses = new List<string>();
                                            foreach (var packageLocation in Model.PackageLocations)
                                            {
                                                if (packageLocation.Location.Name == locationName && !addresses.Contains(packageLocation.Location.Address))
                                                {
                                                    addresses.Add(packageLocation.Location.Address);
                                                }
                                            }
                                            locationData[locationName] = addresses;
                                        }
                                        var jsonLocationData = Newtonsoft.Json.JsonConvert.SerializeObject(locationData);
                                    }
                                </div>
                                <div style="margin-bottom: 1rem;">
                                    <label style="margin-bottom: 1rem;">Địa chỉ tổ chức: </label>
                                    <select class="form-control" style="width: auto;" id="locationAddressDropdown"></select>
                                </div>
                                @if (role != "Admin" && role != "Host")
                                {
                                    <a class="text-body" class="btn btn-primary" asp-route="AddToBooking" asp-route-productid="@Model.Id"><i class="fa fa-gift" aria-hidden="true"></i> Đặt tiệc</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;margin-top: 50px">
                <h2 class="display-5 mb-3">Mô tả</h2>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row p-4 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                        <div class="px-5 pt-3">
                            @Html.Raw(Model.Detail)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;margin-top: 50px">
                <h2 class="display-5 mb-3">Chú ý</h2>
            </div>
            <div class="row">
                <div class="container">
                    <div class="row p-4 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                        <div class="px-5 pt-3">
                            <label>@Model.Note</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Reviews -->
            <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;margin-top: 50px">
                <h2 class="display-5 mb-3">Đánh giá</h2>
            </div>
            <div class="row">
                <div class="container mb-5">
                    <div class="row p-4 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                        <div class="px-5 pt-3">
                            <div class="p-b-30 m-lr-15-sm">
                                <div class="text-center p-b-32">
                                    @if (@ViewBag.AverageRate != null)
                                    {
                                        <div class="ratingStar d-flex justify-content-between">
                                            <div class="text-danger">
                                                <h3 class="mtext-108 cl13 p-r-20">
                                                    <h3 class="mtext-108 cl13">
                                                        Đánh giá trung bình:
                                                        @String.Format("{0:0.0}", @ViewBag.AverageRate)
                                                        <i class="zmdi zmdi-star"></i>
                                                    </h3>
                                                </h3>
                                            </div>
                                            <div>
                                                @if (ViewBag.CountRateFiveStar != null)
                                                {
                                                    <h3 class="mtext-108 cl13">
                                                        SL đánh giá 5
                                                        <i class="zmdi zmdi-star"></i> :
                                                        @ViewBag.CountRateFiveStar
                                                    </h3>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <h3 style="color: #ee4d2d; font-size: 20px; margin-top: 20px; margin-bottom: 20px;">Chưa có đánh giá</h3>
                                    }
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <h5>Avatar</h5>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <h5>Tên người dùng</h5>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <h5>Số sao <i class="zmdi zmdi-star"></i></h5>
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-center">
                                    <h5>Nội dung</h5>
                                </div>
                                <div class="col-2 d-flex align-items-center justify-content-center">
                                    <h5>Thời gian</h5>
                                </div>
                            </div>

                            <!-- Review -->
                            @foreach (var item in ViewBag.Review)
                            {
                                if (item.Rate.Star > 0)
                                {
                                    <div class="row my-2">
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <img src="@item.User.Image_url" alt="AVATAR" style="width: 70px; border-radius: 50%;">
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                @item.User.Name
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                @item.Rate.Star <i class="zmdi zmdi-star"></i>
                                            </div>
                                        </div>
                                        <div class="col-4 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                @item.Rate.Content
                                            </div>
                                        </div>
                                        <div class="col-2 d-flex align-items-center justify-content-center">
                                            <div class="">
                                                @item.Rate.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            @if (user == 0)
                            {
                                <center><strong class="mtext-107 cl2">Bạn phải <a href="/Account/Login" class="href_style">đăng nhập</a> để sử dụng chức năng này</strong></center>
                            }
                            else if (ViewBag.PackageRated == false)
                            {
                                if (@ViewBag.CustomerPurchased != 0 && user > 0)
                                {
                                    using (Html.BeginForm("PackageReviews", "Package", FormMethod.Post, new { @class = "w-full" }))
                                    {
                                        <h3 class="my-3">
                                            Viết đánh giá
                                        </h3>
                                        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                                            <div class="form-group">
                                                <label for="rating"></label>
                                                <select class="form-control" style="width:150px" id="rating" name="rating" required>
                                                    <option value="">Chọn số sao...</option>
                                                    <option value="1">1 sao</option>
                                                    <option value="2">2 sao</option>
                                                    <option value="3">3 sao</option>
                                                    <option value="4">4 sao</option>
                                                    <option value="5">5 sao</option>
                                                </select>
                                            </div>
                                            <div class="form-floating my-3">
                                                <input type="text" class="form-control" id="comment" name="Content" placeholder="Nội dung">
                                                <label for="review">Nội dung</label>
                                            </div>
                                            <input data-val="true"
                                                   data-val-number="Trường ProductId phải là số."
                                                   data-val-required="Trường ProductId là bắt buộc."
                                                   id="productId"
                                                   name="ProductId"
                                                   type="hidden"
                                                   value="0" />
                                            <button class="w-10 btn btn-lg btn-primary" type="submit">Gửi</button>
                                        </form>

                                    }
                                }
                                else if (role == "Guest")
                                {
                                    <h5 class="my-3 text-danger text-center">
                                        Hãy đặt gói tiệc này để đánh giá
                                    </h5>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
</div>

<script>
    var locationData = @Html.Raw(jsonLocationData);

    function populateAddressDropdown() {
        var selectedName = document.getElementById("locationNameDropdown").value;
        var addressDropdown = document.getElementById("locationAddressDropdown");
        addressDropdown.innerHTML = "";

        // Get addresses based on selected name
        var addresses = locationData[selectedName];

        // Populate address dropdown
        addresses.forEach(function (address) {
            var option = document.createElement("option");
            option.text = address;
            addressDropdown.add(option);
        });
    }

    // Set default selected name and populate address dropdown
    populateAddressDropdown();
</script>