@model X.PagedList.IPagedList<BookingBirthday.Data.Entities.Booking>
@using BookingBirthday.Server.Common;
@using X.PagedList.Mvc.Core
@inject BookingBirthday.Data.EF.BookingDbContext _dbContext
@using BookingBirthday.Data.EF
@using Newtonsoft.Json
@using static NuGet.Packaging.PackagingConstants
@{
    ViewData["Title"] = "QL_DonHang Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var packagelist = _dbContext.Packages.ToList();
    var userlist = _dbContext.Users.ToList();
}
@await Html.PartialAsync("response")
<style>
    th {
        border: 1px solid #ddd;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }

    td {
        border: 1px solid #ddd;
    }
</style>
<div class="container-xxl py-5" style="margin-top: 100px">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Quản lí đơn hàng</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @if (Model.Count > 0)
                    {
                        int stt = 1;

                        <div class="table-responsive card mt-2">
                            <table class="table table-hover">
                                <tr>
                                    <th>Thứ tự</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Chủ gói tiệc</th>
                                    <th>Địa điểm tổ chức</th>
                                    <th>Địa chỉ tổ chức</th>
                                    <th>Tổng tiền: đồng</th>
                                    <th>Ghi chú</th>
                                    <th>Trạng thái</th>
                                    <th>Thông tin khách hàng</th>
                                    <th>Lịch sử đặt tiệc</th>
                                </tr>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@(stt++)</td>
                                        <td>
                                            @foreach (var booking in _dbContext.Bookings)
                                            {
                                                if (booking.Id == item.Id)
                                                {
                                                    <label style="width: auto">
                                                        <a href="@("/Package/Show?Id="+ booking.PackageId)">@CreateMD5Short.MD5Short(booking.PackageId.ToString())</a>
                                                    </label>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                
                                            }
                                            @foreach (var package in packagelist)
                                            {
                                                if (package.Id == item.PackageId)
                                                {
                                                    @foreach (var user in userlist)
                                                    {
                                                        if (user.Id == package.UserId)
                                                        {
                                                            <label style="width: auto">
                                                                <a href="@("/Package/ProfileHost?UserId="+ user.Id)">@(user.Name)</a>
                                                            </label>
                                                        }
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <label style="width: auto">
                                                @{
                                                    var location = _dbContext.Locations.FirstOrDefault(l => l.Bookings.Any(b => b.Id == item.Id));
                                                    if (location != null)
                                                    {
                                                        @location.Name
                                                    }
                                                    else
                                                    {
                                                        <span>Địa điểm tổ chức không tồn tại</span>
                                                    }
                                                }
                                            </label>
                                        </td>
                                        <td>
                                            <label style="width: auto">
                                                @{
                                                    var locationAddress = _dbContext.Locations.FirstOrDefault(l => l.Bookings.Any(b => b.Id == item.Id));
                                                    if (locationAddress != null)
                                                    {
                                                        @locationAddress.Address
                                                    }
                                                    else
                                                    {
                                                        <span>Địa chỉ tổ chức không tồn tại</span>
                                                    }
                                                }
                                            </label>
                                        </td>

                                        <td>
                                            <label style="width: auto">@Convert.ToDouble(item.Total).ToString("#,##0")</label>
                                        </td>
                                        <td>
                                            <label style="width: auto">@item.Note</label>
                                        </td>
                                        <td>
                                            @if (@item.BookingStatus == "Declined")
                                            {
                                                <label style="width: auto">Hủy đơn</label>
                                            }
                                            @if (@item.BookingStatus == "Paid")
                                            {
                                                <label style="width: auto">Đã thanh toán</label>
                                            }
                                            @if (@item.BookingStatus == "Processing")
                                            {
                                                <label style="width: auto">Chờ xử lý</label>
                                            }
                                            @if (@item.BookingStatus == "Accepted")
                                            {
                                                <label style="width: auto">Đã xác nhận</label>
                                            }
                                        </td>
                                        <td>
                                            @foreach (var guest in _dbContext.Users)
                                            {
                                                if (guest.Id == item.UserId)
                                                {
                                                    <button type="button" class="btn btn-primary" onclick="showGuestInformation('@guest.Name', '@guest.Phone', '@guest.Email', '@item.ChildName', '@item.ChildDateOfBirth', '@item.ChildGender', '@item.ChildNumber')">Xem</button>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" onclick="showBookingHistory('@item.Date_order', '@item.Date_start', '@(item.Date_cancel)', '@item.Reason')">Xem</button>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <ul class="pagination">
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="pagination-item">
                                    <a href="@Url.Action("Index", new { page = i })" class="pagination-item_link">@i</a>
                                </li>
                            }
                        </ul>

                    }
                    else
                    {
                        <p class="alert alert-danger" style="position: relative;">Danh sách đơn hàng trống</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="guestInformationModal" tabindex="-1" role="dialog" aria-labelledby="guestInformationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="guestInformationModalLabel">Thông tin khách hàng</h5>
            </div>
            <div class="modal-body">
                <p><strong>Thông tin phụ huynh</strong></p>
                <p><strong>Tên phụ huynh:</strong> <span id="guestName"></span></p>
                <p><strong>Số điện thoại:</strong> <span id="guestPhone"></span></p>
                <p><strong>Email:</strong> <span id="guestEmail"></span></p>
            </div>

            <div class="modal-body">
                <p><strong>Thông tin của bé</strong></p>
                <p><strong>Họ và tên:</strong> <span id="guestChildName"></span></p>
                <p><strong>Ngày sinh:</strong> <span id="guestChildDateOfBirth"></span></p>
                <p><strong>Giới tính:</strong> <span id="guestChildGender"></span></p>
                <p><strong>Số lượng bé tham gia:</strong> <span id="guestChildNumber"></span></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeGuestModal()">Đóng</button>
            </div>
        </div>
    </div>
</div>
<<script>
     // 'Name', 'Phone', 'Email', 'ChildName', 'ChildDateOfBirth', 'ChildGender', 'ChildNumber'
     function showGuestInformation(name, phone, email, childName, childDateOfBirth, childGender, childNumber) {
         $('#guestName').text(name);
         $('#guestPhone').text(phone);
         $('#guestEmail').text(email);
         $('#guestChildName').text(childName);
         $('#guestChildDateOfBirth').text(childDateOfBirth);
         $('#guestChildGender').text(childGender);
         $('#guestChildNumber').text(childNumber);
         $('#guestInformationModal').modal('show');
     }
</script>

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="bookingHistoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingHistoryModalLabel">Lịch sử đặt tiệc</h5>
            </div>
            <div class="modal-body">
                <p><strong>Thời gian đặt tiệc:</strong> <span id="bookingOrderTime"></span></p>
                <p><strong>Thời gian tổ chức:</strong> <span id="bookingStartTime"></span></p>
                <p><strong>Thời gian hủy tiệc:</strong> <span id="bookingCancelTime"></span></p>
                <p><strong>Lý do hủy của chủ tiệc:</strong> <span id="bookingCancelReason"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showBookingHistory(orderTime, startTime, cancelTime, cancelReason) {
        $('#bookingOrderTime').text(orderTime);
        $('#bookingStartTime').text(startTime);
        $('#bookingCancelTime').text(cancelTime ? cancelTime : 'Không có');
        $('#bookingCancelReason').text(cancelReason ? cancelReason : 'Không có');
        $('#orderModal').modal('show');
    }

    function closeGuestModal() {
        $('#guestInformationModal').modal('hide');
    }

</script>
