@model IEnumerable<Data.EF.Content>
@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tag = (Data.EF.Tag)ViewBag.Tag;
}

<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">
                <div class="p-r-45 p-r-0-lg">
                    @foreach (var item in Model)
                    {
                        <!-- item blog -->
                        <div class="p-b-63">
                            <a href="/tin-tuc/@item.MetaTitle-@item.Id" class="hov-img0 how-pos5-parent">
                                <img src="@item.Image" alt="IMG-BLOG" width="960px" height="480px">

                                <div class="flex-col-c-m size-123 bg9 how-pos5">
                                    <span class="ltext-107 cl2 txt-center">
                                        @item.CreatedDate.Value.Day
                                    </span>

                                    <span class="stext-109 cl3 txt-center">
                                        @item.CreatedDate.Value.Month @item.CreatedDate.Value.Year
                                    </span>
                                </div>
                            </a>

                            <div class="p-t-32">
                                <h4 class="p-b-15">
                                    <a href="/tin-tuc/@item.MetaTitle-@item.Id" class="ltext-108 cl2 hov-cl1 trans-04">
                                        @item.Name
                                    </a>
                                </h4>

                                <p class="stext-117 cl6">
                                    @item.Description
                                </p>

                                <div class="flex-w flex-sb-m p-t-18">
                                    <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
                                        <span>
                                            @item.Tags
                                        </span>
                                    </span>

                                    <a href="blog-detail.html" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                        Tiếp tục đọc

                                        <i class="fa fa-long-arrow-right m-l-9"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }


                    <!-- Pagination -->
                    @if (ViewBag.ToTalPage > 1)
                    {
                        var pageDisplay = (int)ViewBag.MaxPage;
                        var totalPage = (int)ViewBag.TotalPage;
                        var currentPage = (int)ViewBag.Page;

                        //Create numeric link
                        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                        var link = "/tag/" + tag.Id;
                <nav class="d-flex justify-content-center">
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li class="page-item"><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first flex-c-m how-pagination1 trans-04 m-all-7"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="page-item">
                                <a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev flex-c-m how-pagination1 trans-04 m-all-7"><i class="fa fa-angle-left"></i></a>
                            </li>

                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {

                                <li class="page-item active"> <a href="@link?page=@i" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a href="@link?page=@i" title="Trang @i" class="pos flex-c-m how-pagination1 trans-04 m-all-7">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li class="page-item"><a href="@link?page=@ViewBag.Next" class="next flex-c-m how-pagination1 trans-04 m-all-7" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                            <li class="page-item"> <a href="@link?page=@ViewBag.Last" class="last flex-c-m how-pagination1 trans-04 m-all-7" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                        }

                    </ul>
                </nav>
                    }
                    else if (ViewBag.ToTalPage == 1)
                    {
                        <span></span>
                    }
                    else
                    {
                        <span>Không có bản ghi nào</span>
                    }
                </div>
            </div>

            <div class="col-md-4 col-lg-3 p-b-80">
                <div class="side-menu">
                    @{Html.RenderAction("ContentCategory", "Content");}

                    @{Html.RenderAction("ContentTag", "Content");}
                </div>
            </div>
        </div>
    </div>
</section>	